* {
    margin: 0;
    padding: 0;
  }

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.item {
    height:auto;
}

.item::before {
    content:'';
    float:left;
    padding-top:100%;
}

button{
    margin: 20px;
}